#tweets {
	margin-top: 10px;
}
#tweets ul {
	margin: 0;
}
#tweets li {
	list-style-type: none;
	padding-bottom: 5px;
}

.imageContainer {
	margin-bottom: 15px;
}

.backToTop {
	margin-bottom: 25px;
}

.imageCaption {
	padding: 5px;
}